body{
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.INICIO{

    width: 300px;
    height: 400px;
    background-color: rgb(255, 154, 2);
    display: block;
    margin: auto;
    margin-top: 60px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #03071e;
    box-shadow: 5px 0px 5px 5px grey;
}


.USUARIO{
    width: 80px;
    display: block;
    margin: auto;
    padding: 30px;   
}

.INICIARSESION{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 35px;    
    font-weight: 900;
    color: #000000;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.caja{
    display: block;
    margin: auto;
    height: 40px;
    width: 250px;
}

.ENTRAR{
    display: block;
    margin: auto;
    margin-top: 20px;
    color: rgb(255, 154, 2);
    background-color: white
    border-radius: 15px;
    width: 250px;
    height: 40px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    font-weight: 900;
    
}

.CONTRASENA{
    display: block;
    margin: auto;
    margin-top: 20px;    
    height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    font-size: 12px;
    background-color: #ffff;
    color: black;
    
    
}